@using TesteDatatable.Models
@model ProdutoViewModel

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.css" />



@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "frm-produto" }))
{
    @Html.AntiForgeryToken()
    <br />
    <div class="panel panel-primary">
        <div class="panel-heading">
            Relação de PRODUTOS registrados
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover" id="tbProduto">
                <thead>
                    <tr>
                        <th><center><input type="checkbox" name="select_all" value="1" id="ativo-select-all"></center></th>
                        <th>
                            Codigo
                        </th>
                        <th>
                            Produto
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @Html.EditorFor(Model => Model.id)
                    @for (int i = 0; i < Model.produtos.Count; i++)
                    {
                        <tr>
                            <th>@Html.CheckBoxFor(m => m.produtos[i].Ativo)</th>
                            <td>
                                @Html.DisplayFor(m => m.produtos[i].Codigo)
                                @Html.HiddenFor(m => m.produtos[i].Codigo)
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.produtos[i].Nome)
                                @Html.HiddenFor(m => m.produtos[i].Nome)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer panel-info">
            <button type="submit" class="btn btn-default">Confirmar</button>
        </div>
    </div>
}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script>


<script>
    $(document).ready(function () {
        var table = $('#tbProduto').DataTable({
            'columnDefs': [{
                'targets': 0,
                'searchable': false,
                'orderable': false,
                "lengthMenu": [[3, 6, 50, -1], [3, 6, 50, "All"]],
                'className': 'dt-body-center'
            }],
            'order': [[1, 'asc']]
        });

        // Handle click on "Select all" control
        $('#ativo-select-all').on('click', function () {
            // Get all rows with search applied
            var rows = table.rows({ 'search': 'applied' }).nodes();
            // Check/uncheck checkboxes for all rows in the table
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
        });

        // Handle click on checkbox to set state of "Select all" control
        $('#tbProduto tbody').on('change', 'input[type="checkbox"]', function () {
            // If checkbox is not checked
            if (!this.checked) {
                var el = $('#ativo-select-all').get(0);
                // If "Select all" control is checked and has 'indeterminate' property
                if (el && el.checked && ('indeterminate' in el)) {
                    // Set visual state of "Select all" control
                    // as 'indeterminate'
                    el.indeterminate = true;
                }
            }
        });

        // Handle form submission event
        $('#frm-produto').on('submit', function (e) {
            var form = this;

            // Iterate over all checkboxes in the table
            table.$('input[type="checkbox"]').each(function () {
                // If checkbox doesn't exist in DOM
                if (!$.contains(document, this)) {
                    // If checkbox is checked
                    if (this.checked) {
                        // Create a hidden element
                        $(form).append(
                            $('<input>')
                                .attr('type', 'hidden')
                                .attr('name', this.name)
                                .val(this.value)
                        );
                    }
                }
            });

            // Pega todos os campos ocultos da tabela
            table.$('input[type="hidden"]').each(function () {
                // If doesn't exist in DOM
                if (!$.contains(document, this)) {
                    
                        // Create a hidden element
                        $(form).append(
                            $('<input>')
                                .attr('type', 'hidden')
                                .attr('name', this.name)
                                .val(this.value)
                        );
                    
                }
            });

        });

    });

</script>
